.navbar {
  background: rgba(0, 0, 0, 0.7) !important;
}

.navbar a {
  color: #FFF !important;
}

.navbar a:hover, .navbar a:active, .navbar a:focus {
  color: #CCC !important;
  text-decoration: underline !important;
}
