<div class="col-lg-12 col-md-12 col-sm-12" ng-controller="BrowserController as vm">
    <nav class="navbar navbar-custom navbar-fixed-top hidden-lg hidden-md hidden-sm" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button id="navbar_toggle" type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">DatE-IT</span> 2016
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <dateitse-filter filters="vm.educations"></dateitse-filter>
                <dateitse-filter filters="vm.positions"></dateitse-filter>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="row">
        <div class="dateitse-search-form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search companies..."
                           ng-model="vm.searchText">
                    <span class="input-group-addon"><i
                            class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs dateitse-filterbar">
        <dateitse-filter filters="vm.educations"></dateitse-filter>
        <dateitse-filter filters="vm.positions"></dateitse-filter>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 dateitse-companies">
        <div class="dateitse-company-thumbnail"
             ng-repeat="company in $parent.vm.companies | companyFilter:{searchText:vm.searchText, educations: vm.educations, positions: vm.positions}">
            <dateitse-company-thumbnail dateitse-data="company" ng-style="company.style" ui-sref="catalog.company({companyName: company.name})"></dateitse-company-thumbnail>
        </div>
    </div>

</div>